*{
  box-sizing: border-box;
}

body {
  background: linear-gradient(#e66465, #9198e5);
  background-repeat: no-repeat;
  height: 1000px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}